body {
  background: #111;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: #222;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}

input {
  display: block;
  width: 250px;
  margin: 10px auto;
  padding: 10px;
}

button {
  padding: 10px 20px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
}